/* *{color: crimson;} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

header{background-color: rgba(250, 7, 7, 0.61) (221, 112, 134, 0.89);}

/* section.my-article{background-color: cornflowerblue;} */
section.my-articles{background-color: rgb(171, 158, 247);}
/* p{color: rgb(139, 0, 0);} */
header p{color: rgb(248, 248, 252);}
li a{color: rgb(12, 12, 12);}

section.my-articles h2{font-family: 'Montserrat', sans-serif;}
section.my-articles h2{background-color: blueviolet;}
section.my-articles h2{color: azure;}
section.my-articles p{font-family: 'Mouse Memoirs', sans-serif;}

header p{font-family: 'Roboto', sans-serif;}
header p{background-color: red;}
header p{color: rgb(255, 255, 255);}

li a{font-family: 'Roboto', sans-serif;}
.main-logo{font-family: 'Roboto', sans-serif;}

section.my-articles > h2{color: rgb(4, 17, 17);}

h2+p{color: rgb(21, 255, 0);}
ul+p{color: rgb(0, 0, 0);}