body{
    font-family: Arial, Helvetica, sans-serif;
}
#main-heading{background-color: blueviolet;

}
.sub-heading{background-color: blanchedalmond;

}
#main-heading{color: ghostwhite;}
p{
    background-color: darkorange;
}