@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{font-family: 'Montserrat', sans-serif;}

header{background-color: cornflowerblue;}
main{background-color: rgb(148, 183, 248);}
span{background-color: aqua;}
.asad{color: azure;}
.highlight1{background-color: crimson;}
.highlight2{background-color: rgb(83, 55, 207);}
.ali{background-color: darksalmon;}