@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{font-family: 'Poppins', sans-serif;}

span{background-color: goldenrod;}

.main-section-heading1{color: rgb(2, 2, 2);}
.main-section-heading{color: rgb(255, 255, 255);}


.bg-color{background-color: blueviolet;}
.font-color{color: floralwhite;}

.bg-color1{background-color: rgb(248, 17, 17);}

.main-section-bg{background-color: rgb(17, 17, 17);}
.main-section-bg1{background-color: rgb(251, 255, 7);}
.main-section-bg2{background-color: rgba(154, 214, 148, 0.993);}
.title-bg{background-color: rgba(0, 195, 255, 0.993);}

.header-bg{background-color: crimson;}