body{font-family: 'Montserrat', sans-serif;}
.main-header{background-color: rgb(207, 207, 207);}
.main-section{background-color: rgb(207, 207, 207);}
.first{color: #00705c}
span{background-color: darkslateblue;}