span{background-color: #c7afdd;}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{font-family:'Montserrat', sans-serif;}
.first{color: #00705c}
.main-header{background-color: rgb(207, 207, 207);}
.main-section{background-color: rgb(207, 207, 207);}