body{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.text-1{color: blueviolet;}
.text-2{color: darkgreen;}
.text-3{color: royalblue;}
.text-4{color: midnightblue;}

.bg-dark-1{background-color: beige;}
.bg-dark-2{background-color: #fa1909;}
.bg-dark-3{background-color: #fcd708;}
.bg-dark-4{background-color: #a2fa2e;}