@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway&display=swap');

body{font-family: 'Montserrat', sans-serif;}

.box1, .box2{
    border: 2px solid #444;
    padding: 10px;
}

.box1{margin-bottom: 50px;}
.box2{margin-top: 70px;}