body{font-family: Verdana, Geneva, Tahoma, sans-serif;}

.para::before{
    content: 'Asad Mehmood';
    color: blueviolet;
    border: 2px dotted black; 
}

.para::after{
    content: 'Asad Mehmood';
    color: blueviolet;
    border: 2px dotted black;
    display: block;
    padding: 10px;
    margin: 19.99px;
}

.main::after{content: 'Asad Mehmood';
    color: blueviolet;
    border: 2px dotted black; }